* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #000000;
	color: #ffffff;
}

.menu span {
	float: left;
	padding: 30px 20px;
}

.overlay {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.9);
	overflow-x: hidden;
	transition: 0.5s;
}

.helpContent {
	position: relative;
	top: 25%;
	width: 100%;
	text-align: center;
}

.helpContent .helpTitle {
	padding: 8px;
	font-size: 36px;
	color: #ffffff;
	display: block;
}

.helpContent .tg {
	border-collapse: collapse;
	border-color: #ccc;
	border-spacing: 0;
	width: 50%;
	margin: auto;
}

.helpContent .tg td {
	background-color: #424242;
	border-color: #ccc;
	border-style: solid;
	border-width: 1px;
	color: #ffffff;
	font-size: 14px;
	overflow: hidden;
	padding: 10px 5px;
	word-break: normal;
}

.helpContent .tg th {
	background-color: #f0f0f0;
	border-color: #ccc;
	border-style: solid;
	border-width: 1px;
	color: #333;
	font-size: 14px;
	font-weight: normal;
	overflow: hidden;
	padding: 10px 5px;
	word-break: normal;
}

.helpContent .tg .tg-0lax {
	text-align: left;
	vertical-align: top;
}

.overlay .close {
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 60px;
	color: #ffffff;
}

.overlay .close:hover {
	opacity: 0.5;
}

.heading {
	padding: 25px 30px;
	text-align: center;
}

.heading > h1 > img {
	margin-right: 20px;
}

.heading > h1 {
	font-size: 52px;
}

.heading .title {
	display: flex;
	align-items: center;
	justify-content: center;
}
#waves {
	display: none;
}
.loader {
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.loader .stroke {
	display: block;
	position: relative;
	background: #ffffff;
	height: 100%;
	width: 10px;
	border-radius: 50px;
	margin: 0 5px;
	animation: animate 1.2s linear infinite;
}

@keyframes animate {
	50% {
		height: 20%;
	}
	100% {
		height: 100%;
	}
}

.stroke:nth-child(1) {
	animation-delay: 0s;
}
.stroke:nth-child(2) {
	animation-delay: 0.3s;
}
.stroke:nth-child(3) {
	animation-delay: 0.6s;
}
.stroke:nth-child(4) {
	animation-delay: 0.9s;
}
.stroke:nth-child(5) {
	animation-delay: 0.6s;
}
.stroke:nth-child(6) {
	animation-delay: 0.3s;
}
.stroke:nth-child(7) {
	animation-delay: 0s;
}

.about {
	text-align: center;
}

.imessage {
	overflow-y: scroll;
	background-color: #fff;
	border: 1px solid #e5e5ea;
	border-radius: 0.25rem;
	display: flex;
	flex-direction: column;
	font-family: "SanFrancisco";
	font-size: 1.25rem;
	margin: 0 auto 1rem;
	max-width: 600px;
	padding: 0.5rem 1.5rem;
}

.imessage p {
	border-radius: 1.15rem;
	line-height: 1.25;
	max-width: 75%;
	padding: 0.5rem 0.875rem;
	position: relative;
	word-wrap: break-word;
}

.imessage p::before,
.imessage p::after {
	bottom: -0.1rem;
	content: "";
	height: 1rem;
	position: absolute;
}

p.from-me {
	align-self: flex-end;
	background-color: #334658;
	color: #fff;
}

p.from-me::before {
	border-bottom-left-radius: 0.8rem 0.7rem;
	border-right: 1rem solid #334658;
	right: -0.35rem;
	transform: translate(0, -0.1rem);
}

p.from-me::after {
	background-color: #fff;
	border-bottom-left-radius: 0.5rem;
	right: -40px;
	transform: translate(-30px, -2px);
	width: 10px;
}

p[class^="from-"] {
	margin: 0.5rem 0;
	width: fit-content;
}

p.from-me ~ p.from-me {
	margin: 0.25rem 0 0;
}

p.from-me ~ p.from-me:not(:last-child) {
	margin: 0.25rem 0 0;
}

p.from-me ~ p.from-me:last-child {
	margin-bottom: 0.5rem;
}

p.from-them {
	align-items: flex-start;
	background-color: #e5e5ea;
	color: #000;
}

p.from-them:before {
	border-bottom-right-radius: 0.8rem 0.7rem;
	border-left: 1rem solid #e5e5ea;
	left: -0.35rem;
	transform: translate(0, -0.1rem);
}

p.from-them::after {
	background-color: #fff;
	border-bottom-right-radius: 0.5rem;
	left: 20px;
	transform: translate(-30px, -2px);
	width: 10px;
}

.margin-b_one {
	margin-bottom: 1rem !important;
}
footer {
	font-size: 13px;
	text-align: center;
	position: absolute;
	bottom: 0;
	width: 100%;
	padding-bottom: 20px;
}

.chatContainer {
	/* overflow: auto; */
	width: 50%;
	margin: 0 auto;
	margin-top: 20px;
	position: relative;
	height: 550px;
	overflow-y: scroll;
	padding: 20px;
	box-shadow: 1px 0 4px hsla(0, 0%, 9%, 0.3);
	background-color: #f4f4f4;
}

::-webkit-scrollbar {
	position: relative;
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #88888800;
}

::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 20px;
}
